body {
    color: #2b283a;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    margin: 0;
}

/* ----- TYPOGRAPHY ----- */

h1, 
h3 {
    margin: 0;
}

h1 {
    font-family: "Archivo Black", sans-serif;
    color: #e75a7c;
    font-size: 1.75rem;
}

h2 {
    font-family: "Archivo Black", sans-serif;
    font-size: 1.375rem;
    font-weight: 500;
    color: #e75a7c;

    margin-top: 0;
}

h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
}

p {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

.subheading {
    display: block;

    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    color: #e75a7c;
    font-weight: 400;
    margin-top: 10px;
}


/* ----- LINKS ----- */

a {
    color: #2292a4;
    text-decoration: underline; 
}

a:hover, 
a:active {
    color: #d96c06;
}

.btn {
    font-size: 1.125rem; 
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 0.5em 1em;
    margin-bottom: 1em;
    border-radius: 4.6px;
}

.btn-dark {
    color: #fff;
    background: #2292a4;
}

.btn-mid {
    color: #fff; 
    background: rgba(217, 108, 6, .5); 
}

.btn-light {
    color: #5f29a3; 
    background: whitesmoke;
}

.btn:hover, 
.btn:active {
    color: #fff;
    background: rgba(34, 146, 164, .8);
}

/* ----- LAYOUT ----- */

header, 
section, 
footer {
    padding: 1.25em 0;
}

header, 
.section-two {
    background-color: #fdebcd;
}

.section-two {
    color: #2C363F;
}

.container {
    max-width: 800px;
    width: 90%;
    margin: 0 auto;
}

.main-image {
    display: block;
    width: 100%;
    max-width: 350px;
    min-width: 150px;
    margin: 0 auto 2em;
}

.feature-image {
    width: 100%;
    border-radius: 4.6px;
    margin-bottom: 1em;
}

footer {
    text-align: center;
    color: #e75a7c;
  
}

footer p{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

/* ----- NAVIGATION ----- */

nav a {
    color: #e75a7c;
    text-decoration: none;
    font-size: 1.125rem;
    padding: 0.85em 0;
    display: block;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}


/* ----- MEDIA QUERIES ----- */

@media (min-width: 480px) {
    .section-two-image-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .feature-image {
        width: 48.8%;
        border-radius: 4.6px;
    }
}

@media (max-width: 767px) {
    header {
        text-align: center;
    }

    nav {
        margin-top: 1.5em;
    }  

    li:not(:last-child) {
        border-bottom: 1px dotted #a190b6;
    }  
}

@media (min-width: 768px) {
    header,
    section,
    footer {
        padding: 2.875em 0;        
    }

    header .container,
    nav ul {
        display: flex;
    }

    header .container {
        justify-content: space-between;
        align-items: center;
    }

    nav li {
        margin-left: 1.25em;
    }

    .btn {
        display: inline-block;
        margin-right: 0.5em;
    }

    h1 {
        font-size: 2.25rem;
    }

    h2 {
        font-size: 1.75rem;
    }
    
    .subheading {
        font-size: 1.25rem;
    }
    
    p {
        font-size: 1.125rem;
    }
}